@media (max-width:768px) {
    .search-bar{
        width: 300px;
        height: 33px;
    }
    .logo-img img{
        height: 30px;
    }
    .weather-name1,.weather-name2{
        font-size: 24px;
    }
    .input-bar input{
        font-size: 17px;
    }
    .location{
        width: 90px;
        height: 30px;
    }
    .location-img img{
        height: 13px;
    }
    .location-text{
        font-size: 15px;
    }
}
@media(max-width:425px){
    .logo-img img{
        height: 20px;
    }
    .weather-name1,.weather-name2{
        font-size: 18px;
    }
    .location-text{
        display: none;
    }
    .location{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .location-img img{
        height: 18px;
    }
    .search-bar{
        width: 180px;
        height: 33px;
    }
    .weather-box{
        width: 100%;
    }
    .place{
        width: 220px;
    }
    .date{
        width: 120px;
    }
    .weather-box{
        margin-top: 20px;
    }
    .main-body{
        padding: 0 10px;
    }
    .date-day{
        margin-bottom: 20px;
    }
    .weather-logo img{
        height: 110px;
    }
    .weather-temp span:nth-child(1){
        font-size: 80px;
    }
    .extra{
        flex-direction: column;
        padding-bottom: 5px;
        margin-top: 5px;
    }
    .aqi{
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    .aqi-logo img{
        height: 50px;
    }
    .aqi-heading{
        font-size: 18px;
    }
    .five-days-forecast{
        flex-direction: column;
    }
    .day1{
        width: 100%;
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px;
    }
}
@media(max-width:375px){
    .place{
        width: 180px;
    }
    .date{
        width: 110px;
    }
    .weather-name1,.weather-name2{
        display: none;
    }
    .logo-img img{
        height: 35px;
    }
    #temp{
        font-size: 70px;
    }
    .weather-logo img{
        height: 100px;
    }
}
@media(max-width:320px){
    .place{
        width: 150px;
    }
    .date{
        width: 110px;
    }
    .place-text{
        font-size: 14px;
    }
    .date-text{
        font-size: 14px;
    }
    #temp{
        font-size: 60px;
    }
    .weather-logo img{
        height: 85px;
    }
}